.discover-page {
  margin-top: 9rem;

  &__search {
    margin: auto;
    width: 50%;

    &-list {
      &--item {
        position: relative;
        display: flex;
        padding: 1rem;
        border: 1px solid $color-primary-dark;
        margin-bottom: 0.5rem;

        &_image {
          height: 250px;
        }
        &-description {
          display: flex;
          flex-direction: column;
          margin: 2rem;
          justify-content: space-between;
          &_name {
            font-size: 2rem;
          }
          &_overview{
              font-size: 1.2rem;
              padding: 1rem 0 ;
          }
        }
      }
    }
  }
}
